:root {
  --primary: #4711de;
  --ui-green: #28c840;
  --ui-red: #ff5f57;
  --ui-yellow: #febc2e;
  --ui-light: #f8f2fb;
  --gray-l: #cbcbcb;
  --gray-m: #878787;
  --gray-md: #585a51;
  --gray-d: #414339;
  --text: #333;
  --text-d: #333;
  --purple-l: #ece3ff;
  --purple-lm: #deceff;
  --purple-m: #7335d7;
  --purple-d: #6500bf;
  --orange: #fcaa5e;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* FormKit */
.formkit-outer {
  margin-bottom: 1em;
}
.formkit-outer label {
  font-weight: 700;
  font-size: 0.875em;
}
.formkit-label {
  display: block;
  margin-bottom: 0.25em;
}
.formkit-help {
  font-size: 0.75em;
  color: #333;
  font-weight: 300;
  margin-top: 0.5em;
}
.formkit-messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.formkit-outer textarea,
.formkit-outer input {
  appearance: none;
  border: 1px solid var(--gray-l);
  padding: 0.75em;
  font-size: 0.875rem;
  width: 250px;
  max-width: 100%;
  border-radius: 0.5em;
  font-family: silka;
  font-weight: 300;
}
.formkit-message {
  font-size: 0.75em;
  padding-top: 0.25em;
  color: red;
  font-weight: 300;
  margin: 0;
}
input.formkit-input {
  width: 100%;
  box-sizing: border-box;
}
button.formkit-input.button {
  appearance: none;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #5a29e480;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: none;
}
